<ion-header>
  <ion-toolbar color="danger">
    <ion-title>view-note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Title : {{modalTitle}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Note : {{modelId}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Tags : {{modelTags}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Close Modal</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>