ion-content {
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 20px;
}

.highlightText {
  background: yellow;
  height: 30px;
  color: red;
  padding: 4px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 10px;
}
.highlightText:empty
{
    display: none;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: #5D5F65;
}

.gameStats {
  margin-top: .5em;
  font-size: 13px;
  font-weight: bold;
  color: #BBBCBE;
}

.wins {
  border-bottom: 6px solid #62f254;
  margin-right: .5em;
}

.draws {
  border-bottom: 6px solid #edce59;
  margin-right: .5em;
}

.losses {
  border-bottom: 6px solid #d04749;
  margin-right: .5em;
}

.avatar {
  border-radius: 10px;
  max-width: 45px;
  display: block;
  float: left;
  margin-right: 1rem;
}

ion-button {
  --border-radius: 10px;
  --background: #6765F7;
}

// .card-content-md {
//   padding-inline-start: 0;
//   padding-inline-end: 0;
// }

// .card-content-ios {
//   -webkit-padding-start: 0 !important;
//   padding-inline-start: 0 !important;
//   -webkit-padding-end: 0 !important;
//   padding-inline-end: 0 !important;
// }